!!! 5
%head
  %title Lamp - Home automation
  %script(src=${url_for('static', filename='js/script.js'))
  %script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
%body
  %button(id='lamp-on')ON
  %button(id='lamp-off')OFF
