<!DOCTYPE html>
<head>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/wickedpicker.min.css') }}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/wickedpicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <title>Home automation</title>
</head>
<body>
  <center>
    <h3>Lamp</h3>
    <div class="onoffswitch">
    {% if data %}
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
      {% else %}
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
      {% endif %}
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <h3>Morning light</h3>
    <input type="text" name="timepicker" class="timepicker"/>
    <input type="button" id="buttontime" value="Set"/>
    <h3>Statistics</h3>
    <div id="stats">
      
    </div>
    <h3>Stocks</h3>
    <div id="stocks">
       
    </div>
    <h3>Music</h3>
    <div id="music">
    </div>
  </center>
</body>
